body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

  background-image: url("../assets/bg-gradient.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
  padding-top: 62px;

  min-height: 100vh;

  background-color: rgba(15, 20, 37, 1);
}

.page-title {
  font-family: "Soyuz", sans-serif;
  font-size: 22px;
  text-align: center;
}

.icon {
  height: 16px;
  width: 16px;
}

.back {
  display: flex;
  gap: 10px;
  position: fixed;
  left: 24px;
  top: 20px;
  color: white;
}

.info {
  text-align: center;
}

.info__text {
  font-size: 20px;
}

.info__additional {
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 12px;
  color: rgba(209, 151, 59, 1);
}

.main-page {
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 500px;
  margin: 0 auto;
}
